@mixin text_block($bgcolor, $color, $display, $colums, $padding){
    background-color: $bgcolor;
    color: $color;
    display: $display;
    grid-template-columns: $colums;
    padding: $padding;
}
@mixin button($fontsize, $padding, $width, $radius, $cursor, $border, $transition){
    font-size: $fontsize;
    padding: $padding;
    width: $width;
    border-radius: $radius;
    cursor: $cursor;
    border: $border;
    transition: $transition;
}




