@import 'variables';
@import 'mixins';


*{
    font-family: 'Poppins', 'Roboto', 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    @include text_block ($black, $white, grid, 1fr 5fr, 1.2rem 1rem );
    h3{
        a{
            font-size: 1.5rem;
            color: $white;
            text-decoration: none;
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        list-style: none;
        margin-right: 2rem;
        li{
            margin-left: 2rem;
            a{
                text-decoration: none;
                color: white;
                font-size: 1.2rem;
                button{
                    font-size: 1.2rem;
                    padding: 0 1rem;
                    height: 2rem;
                    width: 7rem;
                    border-radius: 5px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    transition: 0.2s;
                    &:hover{
                        border: 1px solid white;
                        background-color: $black;
                        color: white;
                    }
                }
                .sign-btn{
                    background-color: white;
                }
                .login-btn{
                    background-color: $light_blue;
                    color: white;
                }

            }
        }
    }
}
footer{
    @include text_block($black, $white, grid, 3fr 2fr, 2rem);
    div{
        h3{
            margin: 0 0 1rem;
        }
        p{
            color: $grey_text;
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            li{
                margin: 0.5rem 0;
            }
            a{
                text-decoration: none;
                color: $grey_text;
                font-size: 1rem;
            }
        }
    }
}