@import 'variables';
@import 'mixins';


*{
    font-family: 'Poppins', 'Roboto', 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    @include text_block ($black, $white, grid, 1fr 5fr, 1.2rem 1rem );
    h3{
        a{
            font-size: 1.5rem;
            color: $white;
            text-decoration: none;
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        list-style: none;
        margin-right: 2rem;
        li{
            margin-left: 2rem;
            a{
                text-decoration: none;
                color: white;
                font-size: 1.2rem;
                button{
                    @include button(1.2rem, 0 1rem, 7rem, 5px, pointer, 1px solid transparent, 0.2s);
                    &:hover{
                        border: 1px solid white;
                        background-color: $black;
                        color: white;
                    }
                }
                .sign-btn{
                    background-color: white;
                }
                .login-btn{
                    background-color: $light_blue;
                    color: white;
                }
                .dash-btn{
                    width: 10rem;
                }

            }
        }
    }
}
footer{
    @include text_block($black, $white, grid, 3fr 2fr, 2rem);
    div{
        h3{
            margin: 0 0 1rem;
        }
        p{
            color: $grey_text;
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            li{
                margin: 0.5rem 0;
            }
            a{
                text-decoration: none;
                color: $grey_text;
                font-size: 1rem;
            }
        }
    }
}
h1{
    text-align: center;
    padding: 2rem;
}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $grey_bg;
    padding: 2rem;
    margin: 0 auto;
    width: 93rem;
    border-radius: 15px;
    .item-card{
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        div{
            padding: 0 1rem 0.5rem ;
        }
        a{
            border-radius: 15px;
            color: $white;
            text-decoration: none;
            width: 27rem;
            background-color: $black;
        }
        img{
            border-radius: 15px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            width: 100%;
            height: 20rem;
            object-fit: cover;
        }
    }
}
.category-card, .category-title{
    padding: 1.5rem;
}
.category-title{
    text-align: center;
    font-size: 1.8rem;
}
.item-detail{
    display: grid;
    grid-template-columns: 3fr 2fr;
    .detail-img{
        display: flex;
        justify-content: center;
        img {
            width: 30rem;
            height: 30rem;
          }
    }
    .item-info{ 
        background-color: $grey_bg;
        border-radius: 20px;
        margin: 2rem 5rem 2rem 0;
        h1{
            text-align: start;
        }
        p{
            font-size: 1.1rem;
            margin: 0 2rem 0.5rem;
        }
        a{
            color: $white;
            text-decoration: none;
            padding: 0.4rem 1rem;
            border-radius: 15px;
            margin: 0 2rem;
            font-size: 1.3rem;
            position: relative;
            top: 1.5rem;
            &:hover{
                background-color: $black;
                color: white;
            }
        }
        .delete-btn{
            background-color: red;
        }
        .edit-btn{
            background-color: $light_blue;
        }
    }
}
.form-div{
    width: 20rem;
    margin: -1rem auto 10rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    input{
        height: 2.2rem;
        padding: 0 0 0 0.4rem;
    }
    div{
        display: flex;
        flex-direction: column;
    }
    button{
        @include button (1.5rem, 0 1rem, 50%, 5px, pointer, 1px solid transparent, 0.2s);
        color: white;
        margin: 0 auto;
        background-color: $black;
        &:hover{
            border: 1px solid white;
            background-color: $light_blue;
            color: white;
        }
    }
}
