<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Marketplace</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <h3><a href="{% url 'core:index'%}">MarketPlace</a></h3>
    <ul>
        <li><a href="{% url 'item:new'%}">New Item</a></li>
        <li><a href="#">Browse</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'core:signup' %}"><button class="dash-btn">Dashboard</button></a></li>
        {% else %}
        <li><a href="{% url 'core:signup' %}"><button class="sign-btn">Sign Up</button></a></li>
        <li><a href="{% url 'core:login' %}"><button class="login-btn">Login</button></a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}
{% endblock %}
<footer>
    <div>
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div>
        <h3>Menu</h3>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="{% url 'core:contact'%}">Contact</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Terms of service</a></li>
        </ul>
    </div>
</footer>
</body>
</html>