<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Marketplace</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/main.css' %}">
</head>
<body>
<nav>
    <h3>MarketPlace</h3>
    <ul>
        <li><a href="#">New Item</a></li>
        <li><a href="#">New Item</a></li>
        <li><a href="#">New Item</a></li>
        <li><a href="#">New Item</a></li>
    </ul>
</nav>
{% block content %}
{% endblock %}
</body>
</html>