* {
  font-family: "Poppins", "Roboto", "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;
  color: #FFF;
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 1.2rem 1rem;
}
nav h3 a {
  font-size: 1.5rem;
  color: #FFF;
  text-decoration: none;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  list-style: none;
  margin-right: 2rem;
}
nav ul li {
  margin-left: 2rem;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
nav ul li a button {
  font-size: 1.2rem;
  padding: 0 1rem;
  width: 7rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s;
}
nav ul li a button:hover {
  border: 1px solid white;
  background-color: #333;
  color: white;
}
nav ul li a .sign-btn {
  background-color: white;
}
nav ul li a .login-btn {
  background-color: rgb(7, 157, 250);
  color: white;
}
nav ul li a .dash-btn {
  width: 10rem;
}

footer {
  background-color: #333;
  color: #FFF;
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 2rem;
}
footer div h3 {
  margin: 0 0 1rem;
}
footer div p {
  color: rgb(154, 160, 168);
}
footer div ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer div ul li {
  margin: 0.5rem 0;
}
footer div ul a {
  text-decoration: none;
  color: rgb(154, 160, 168);
  font-size: 1rem;
}

h1 {
  text-align: center;
  padding: 2rem;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(227, 230, 232);
  padding: 2rem;
  margin: 0 auto;
  width: 93rem;
  border-radius: 15px;
}
.items .item-card {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.items .item-card div {
  padding: 0 1rem 0.5rem;
}
.items .item-card a {
  border-radius: 15px;
  color: #FFF;
  text-decoration: none;
  width: 27rem;
  background-color: #333;
}
.items .item-card img {
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-card, .category-title {
  padding: 1.5rem;
}

.category-title {
  text-align: center;
  font-size: 1.8rem;
}

.item-detail {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.item-detail .detail-img {
  display: flex;
  justify-content: center;
}
.item-detail .detail-img img {
  width: 30rem;
  height: 30rem;
}
.item-detail .item-info {
  background-color: rgb(227, 230, 232);
  border-radius: 20px;
  margin: 2rem 5rem 2rem 0;
}
.item-detail .item-info h1 {
  text-align: start;
}
.item-detail .item-info p {
  font-size: 1.1rem;
  margin: 0 2rem 0.5rem;
}
.item-detail .item-info a {
  color: #FFF;
  text-decoration: none;
  padding: 0.4rem 1rem;
  border-radius: 15px;
  margin: 0 2rem;
  font-size: 1.3rem;
  position: relative;
  top: 1.5rem;
}
.item-detail .item-info a:hover {
  background-color: #333;
  color: white;
}
.item-detail .item-info .delete-btn {
  background-color: red;
}
.item-detail .item-info .edit-btn {
  background-color: rgb(7, 157, 250);
}

.form-div {
  width: 20rem;
  margin: -1rem auto 10rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-div input {
  height: 2.2rem;
  padding: 0 0 0 0.4rem;
}
.form-div div {
  display: flex;
  flex-direction: column;
}
.form-div button {
  font-size: 1.5rem;
  padding: 0 1rem;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s;
  color: white;
  margin: 0 auto;
  background-color: #333;
}
.form-div button:hover {
  border: 1px solid white;
  background-color: rgb(7, 157, 250);
  color: white;
}